<ul class="breadcrumb clearfix">
	<li><a href="/?view=amp" target="_self">Trang chủ</a></li>
	{% if template contains 'page' %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>{{ page.title }}</span></li>
	{% elseif template contains 'product' %}
	{% if collection.url %}
	{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="{{ url }}?view=amp" target="_self">{{ collection.title }}</a></li>
	{% endif %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span> {{ product.title }}</span></li>
	{% elseif template contains 'collection' and collection.handle %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/collections?view=amp" target="_self">Danh mục</a></li>
	{% if current_tags %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active">Tag: "{{ current_tags.first | capitalize }}"</li>
	{% else %}
	{% if collection.handle == 'all' %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Tất cả sản phẩm</span></li>
	{% else %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>{{ collection.title }}</span></li>
	{% endif %}
	{% endif %}
	{% elseif template contains 'search' %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><span>Tìm kiếm</span></li>
	{% elseif template contains 'blog' %}		
	{% if current_tags %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="{{ blog.url }}?view=amp">Blog - {{ blog.title }}</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li><span>{{ current_tags | join: " + " }}</span></li>		
	{% else %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Blog - {{ blog.title }}</span></li>
	{% endif %}
	{% elseif template contains 'article' %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="{{ blog.url }}?view=amp">Blog - {{ blog.title }}</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>{{ article.title }}</span></li>
	{% elseif template contains "404" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active">Lỗi 404</li>
	{% elseif template contains "customers[account]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	{% elseif template contains "customers[register]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Ðăng ký</span></li>
	{% elseif template contains "customers[login]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Đăng nhập</span></li>
	{% elseif template contains "customers[activate_account]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Kích hoạt</span></li>
	{% elseif template contains "customers[reset_password]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Thiết lập lại mật khẩu</span></li>
	{% elseif template contains "customers[addresses]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Ðịa chỉ</span></li>
	{% elseif template contains "customers[order]" %}
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Tài khoản</a></li>
	<li><i class="fa fa-angle-right"></i></li>
	<li><a href="/account?view=amp" target="_self">Đơn hàng:</a></li>
	<li class="active"><span>{{ order.name }}</span></li>
	{% elseif template contains 'cart' %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>Giỏ hàng</span></li>
	{% else %}
	<li><i class="fa fa-angle-right"></i></li>
	<li class="active"><span>{{ page_title }}</span></li>
	{% endif %}
</ul>

